h1 {
  position: relative;
  z-index: 3;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: museo, sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: museo, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: museo, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: museo, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: museo, sans-serif;
  color: #009ffe;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

p {
  margin-bottom: 10px;
  font-family: museo, sans-serif;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: museo, sans-serif;
  font-weight: 300;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: museo, sans-serif;
  font-weight: 300;
}

.header.home {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/home-header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.header.shop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  padding: 40px 100px 40px 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/AdobeStock_230813387.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.header.shop.teaware {
  background-image: url('../images/AdobeStock_234822788.jpeg');
}

.header.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff0074;
}

.header.mtc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/AdobeStock_233223407.jpeg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.welcome-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  max-width: 620px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-image {
  position: absolute;
  left: 2%;
  top: 3%;
  right: auto;
  bottom: auto;
  width: 380px;
}

.welcome-image.buzz {
  position: static;
}

.h1-bold {
  color: #000;
  font-weight: 500;
}

.heading {
  font-weight: 300;
}

.two-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.button {
  position: static;
  width: 260px;
  padding: 17px 14px;
  box-shadow: 1px 1px 3px 0 #6b6b6b;
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  font-family: museo, sans-serif;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 5px 0 #4b4b4b;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.button.pink {
  position: relative;
  z-index: 5;
  background-color: #ff0074;
}

.button.blue {
  position: relative;
  z-index: 3;
  background-color: #009ffe;
}

.high-top {
  margin-top: 40px;
}

.three-products {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 30px 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._1_3 {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

._1_3:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

._1_3.shop-item {
  margin-bottom: 40px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

._1_3.shop-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.product-image-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-img {
  max-height: 100%;
  border: 5px solid #fff;
  border-radius: 90px;
}

.product-title {
  color: #000;
}

.price {
  margin-top: 0px;
  font-family: museo, sans-serif;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 500;
}

.shorelines {
  width: 100%;
  font-family: Shorelines, sans-serif;
  text-align: center;
}

.shorelines.high-bottom {
  position: relative;
  z-index: 3;
  margin-bottom: 60px;
  color: #000;
}

.shorelines.high-bottom.pink-text {
  color: #ff0074;
}

.shorelines.left {
  text-align: left;
}

.high-bottom {
  margin-bottom: 40px;
}

.bumble-track {
  width: 75%;
  height: 450px;
}

.bumble-track.down {
  position: absolute;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;
  width: 100%;
  height: 720px;
  background-image: url('../images/bumble-track-down1x.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bumble-track.down.hazy {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.65)), to(hsla(0, 0%, 100%, 0.65))), url('../images/bumble-track-down1x.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.65), hsla(0, 0%, 100%, 0.65)), url('../images/bumble-track-down1x.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.bumble-track.down.smaller {
  height: 520px;
}

.bumble-track.up {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 720px;
  background-image: url('../images/bumble-track-up1x.png');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bumble-track.up.hazy {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.7)), to(hsla(0, 0%, 100%, 0.7))), url('../images/bumble-track-up1x.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)), url('../images/bumble-track-up1x.png');
  background-position: 0px 0px, 100% 100%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}

.the-buzz-section {
  position: relative;
  z-index: 1;
  min-height: 450px;
  padding: 67px 60px 98px;
  background-image: url('../images/AdobeStock_267941088green.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.testimonials-cycler {
  height: auto;
  margin-top: 37px;
  margin-bottom: 40px;
  background-color: transparent;
}

.hide {
  display: none;
}

._400 {
  width: 400px;
}

._400.indent-left {
  margin-left: 29px;
}

._500 {
  width: 500px;
  margin-bottom: 28px;
  font-size: 22px;
  text-align: left;
}

.mw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-bottom: 52px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mw.no-bottom {
  margin-bottom: 0px;
}

.centered {
  position: relative;
  z-index: 3;
  text-align: center;
}

.high-z {
  position: relative;
  z-index: 3;
}

.byo-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/AdobeStock_252057665.jpeg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.byo-section.shop {
  margin-bottom: -40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url('../images/AdobeStock_194658927.jpeg');
}

.byo-section.shop.illustration {
  background-image: url('../images/woman-tea-illustration.svg');
  background-position: 50% 50%;
}

.byo-section.shop.illustration2 {
  background-image: url('../images/woman-tea-2.svg');
}

.byo-section.shop.woman-pink {
  background-image: url('../images/AdobeStock_203990016.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

._50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._50.pink-bg {
  width: 40%;
  background-color: #ff0074;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

._50.pink-bg:hover {
  box-shadow: 1px 1px 6px 0 #3f3f3f;
}

._50.pink-bg.blue-bg {
  background-color: #009ffe;
}

._50.byo-image {
  height: 100%;
  min-height: 500px;
  background-image: url('../images/AdobeStock_265008922.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 40px 40px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 15px solid #ffbf00;
  background-color: #f8f8f8;
}

.footer-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: museo, sans-serif;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #a3a3a3;
}

.footer-link.med-bottom {
  margin-bottom: 19px;
}

.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.bee-footer {
  width: 70px;
  height: 70px;
  background-image: url('../images/bee-isolated.svg');
  background-position: 50% 50%;
  background-size: contain;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.bee-footer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 15px solid #ffbf00;
  background-color: #fff;
  box-shadow: 1px 1px 11px 0 #ccc;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-left: 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: museo, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffbf00;
}

.dropdown-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.down-icon-yellow {
  margin-left: 6px;
}

.down-icon-yellow.rotated-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  margin-right: 5px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.premade-dropdown {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #009ffe;
}

.premade-dropdown.teaware {
  z-index: 10;
  background-color: #ff0074;
}

.dropdown-item-link {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: text-shadow 200ms ease;
  transition: text-shadow 200ms ease;
  font-family: museo, sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.dropdown-item-link:hover {
  text-shadow: 1px 1px 4px #424242;
}

.dd-menu-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 1170px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.no-top {
  margin-top: 0px;
}

.dd-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.dd-title-item {
  font-size: 28px;
}

.dd-title-item.no-top.no-bottom {
  margin-right: 15px;
  margin-bottom: 0px;
}

.post-footer {
  width: 100%;
  height: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbf00), to(#ffbf00));
  background-image: linear-gradient(180deg, #ffbf00, #ffbf00);
}

.menu-button-mobile {
  display: none;
}

.menu-dropdown-locations {
  position: relative;
}

.search {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  width: 50%;
  padding: 35px 40px;
  background-color: #ffbf00;
}

.search-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.search-input {
  height: 50px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.search-block {
  height: 50px;
  margin-bottom: 0px;
  font-family: museo, sans-serif;
}

.blue-bg {
  width: 140px;
  background-color: #009ffe;
}

.white {
  color: #fff;
}

.white.bold {
  font-weight: 500;
}

.shop-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sticky-product-refinement {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 24%;
  padding: 20px;
  background-color: #f3f3f3;
}

.select {
  margin-top: 20px;
  background-color: #fff;
  font-family: museo, sans-serif;
}

.testimonial-shop {
  margin-top: 20px;
  margin-bottom: 20px;
}

.author {
  font-family: museo, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}

.product-wrappers {
  width: 74%;
  padding: 40px;
}

.cart-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

.cart-item:hover {
  box-shadow: 1px 1px 9px 0 #cfcfcf;
}

.product-name-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 77%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-image-tiny {
  width: 75px;
  height: 75px;
}

.cart-contents {
  width: 75%;
}

.remove {
  font-family: museo, sans-serif;
  color: #f40;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
}

.qty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.qty-counter {
  color: #ff0074;
  font-size: 10px;
}

.icon-block {
  position: relative;
}

.cart-coutner {
  position: absolute;
  left: auto;
  top: -34%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ff0074;
}

.cart-counter-number {
  font-family: museo, sans-serif;
  color: #fff;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
}

.cart-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin-bottom: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cart-empty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-individual-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 20px;
  padding-bottom: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-images-individual {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-image-big {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 15px;
  border-color: #ffbf00;
  border-radius: 200px;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.product-image-big:hover {
  box-shadow: 1px 1px 6px -2px #666;
}

.product-info-top {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  height: 100%;
  max-width: 600px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.qty-selector {
  width: 260px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-section {
  position: relative;
  z-index: 2;
  padding: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#befddd), to(#befddd));
  background-image: linear-gradient(180deg, #befddd, #befddd);
}

.product-thumbnails {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-top: 31px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.thumbnail-image {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50px;
}

.lowercase {
  text-transform: lowercase;
}

.benefits-mtc-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-plan-mtc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0.43))), url('../images/AdobeStock_242299271.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url('../images/AdobeStock_242299271.jpeg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

._100 {
  width: 100%;
}

.byob-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.about-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._60 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.jamah-img {
  width: 400px;
  height: 400px;
}

.jamah-img-internal {
  border-style: solid;
  border-width: 12px;
  border-color: #ff0074;
  border-radius: 200px;
}

.blog-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 31px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-thumbnail {
  width: 100%;
  height: 250px;
  background-image: url('../images/AdobeStock_242299271.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.blog-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/AdobeStock_233223407.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.heading-blog {
  position: relative;
  z-index: 3;
  width: 300px;
  padding: 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.blog-content {
  margin-bottom: 52px;
  padding: 60px 30px;
}

.blog-text h2 {
  color: #ff0074;
}

.blog-text h4 {
  margin-top: 27px;
}

.blog-text h3 {
  margin-top: 30px;
  color: #009ffe;
  text-align: left;
}

.blog-text h1 {
  color: #ffbf00;
  text-align: left;
}

.policies-section {
  padding: 60px 30px;
}

.copyright {
  margin-top: 11px;
  font-size: 12px;
  text-align: center;
}

.link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.link:hover {
  color: #ff0074;
}

@media (max-width: 991px) {
  .header.shop {
    padding-right: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  ._1_3.shop-item {
    width: 50%;
  }
  .shorelines.high-bottom {
    line-height: 50px;
  }
  .bumble-track.down.hidden-mobile {
    display: none;
  }
  .byo-section {
    background-attachment: scroll;
  }
  .byo-section.shop.woman-pink {
    background-attachment: scroll;
  }
  ._50 {
    width: 100%;
  }
  ._50.byo-image {
    width: 100%;
    min-height: 450px;
    background-position: 50% 0%;
  }
  ._50.full-tablet {
    width: 100%;
  }
  .navbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav-links {
    width: 100%;
    margin-top: 14px;
    margin-left: 0px;
  }
  .icons {
    margin-top: 10px;
  }
  .menu-button-mobile {
    display: none;
  }
  .sticky-product-refinement {
    width: 38%;
  }
  .product-wrappers {
    width: 60%;
  }
  .product-individual-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product-images-individual {
    width: 100%;
  }
  .product-image-big {
    width: 200px;
    height: 200px;
  }
  .product-info-top {
    width: 100%;
  }
  .select-plan-mtc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/AdobeStock_242299271.jpeg');
    background-image: linear-gradient(180deg, null, null), url('../images/AdobeStock_242299271.jpeg');
    background-attachment: scroll, scroll;
  }
  .byob-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ._60 {
    width: 100%;
  }
  ._40 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-wrapper {
    padding: 0px;
  }
  .blog-thumbnail {
    background-position: 50% 50%;
  }
  .copyright {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .header.shop {
    height: 65vh;
  }
  .two-cols.high-top {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .button {
    margin-bottom: 10px;
  }
  .button.pink {
    margin-right: 10px;
    margin-left: 10px;
  }
  .button.blue {
    margin-right: 10px;
    margin-left: 10px;
  }
  ._1_3 {
    width: 100%;
  }
  .shorelines.high-bottom {
    line-height: 65px;
  }
  ._500 {
    width: 400px;
  }
  .mw {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .byo-section.shop.woman-pink {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/AdobeStock_203990016.jpeg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/AdobeStock_203990016.jpeg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }
  ._50 {
    width: 100%;
  }
  ._50.pink-bg {
    width: 100%;
    margin-bottom: 22px;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-links {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link {
    margin-bottom: 8px;
  }
  .icons {
    margin-top: 16px;
  }
  .dd-menu-items {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu-button-mobile {
    display: block;
    margin-left: 35px;
  }
  .search {
    width: 100%;
  }
  .shop-section {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sticky-product-refinement {
    position: static;
    width: 100%;
  }
  .testimonial-shop {
    display: none;
  }
  .product-wrappers {
    width: 100%;
  }
  .cart-item {
    width: 100%;
  }
  .select-plan-mtc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/AdobeStock_242299271.jpeg');
    background-image: linear-gradient(180deg, null, null), url('../images/AdobeStock_242299271.jpeg');
    background-position: 0px 0px, 50% 50%;
  }
  .white-mobile {
    color: #fff;
  }
}

@media (max-width: 479px) {
  ._1_3.shop-item {
    width: 100%;
  }
  .shorelines.high-bottom {
    font-size: 30px;
  }
  .shorelines.high-bottom.pink-text {
    margin-bottom: 44px;
    color: #fff;
  }
  .the-buzz-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  ._500 {
    width: 100%;
  }
  .byo-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.36)), to(rgba(0, 0, 0, 0.36))), url('../images/AdobeStock_252057665.jpeg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url('../images/AdobeStock_252057665.jpeg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }
  .footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-right {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navbar {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav-links {
    width: 100%;
    margin-top: 33px;
    margin-left: 0px;
  }
  .dd-title {
    width: 100%;
  }
  .search {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .thumbnail {
    width: 70px;
    height: 70px;
  }
  .thumbnail-image {
    max-height: 70px;
    max-width: 70px;
  }
  ._60 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jamah-img {
    width: 200px;
    height: 200px;
  }
  .jamah-img-internal {
    border-radius: 100px;
  }
}

@font-face {
  font-family: 'Shorelines';
  src: url('../fonts/Shorelines-Script-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}